{% extends 'base.html.twig' %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3></h3>
            </div>

            <div class="title_right">
            
            </div>
        </div>

        <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Item List<small>Choose Item to order</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>SKU</th>
                          <th>Name</th>
                          <th>Desription</th>
                          <th>Price</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="tbody"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            
            
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Order List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Item Name</th>
                          <th>Driver</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyOrder"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            
            
            
            
            
            
            
          </div>
        </div>

{% endblock %}

{% block custom_js %}
<script>

var orderAction = function(id){
    var address = prompt('Delivery address?');
    if(address) {
        var data = {
            "user":{{ user_id }} + "",
            "item":id + "",
            "address":address
        }
        
        $.ajax({
            method: "POST",
            url: "{{ api_endpoint }}/order/new.json",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        })
        .done(function( data ) {
            
        });
    }
}

var refreshTable = function(){
    $('#tbody').html('');
    $.ajax({
        method: "GET",
        url: "{{ api_endpoint }}/item/0.json"
        //data: { name: "John", location: "Boston" }
    })
    .done(function( data ) {
        var data = data.data;
        
        for(var i=0;i<data.length;i++) {
            var e = '<tr>';
                e += '<td>' + (i+1) + '</td>';
                e += '<td>' + data[i].sku + '</td>';
                e += '<td>' + data[i].name + '</td>';
                e += '<td>' + data[i].description + '</td>';
                e += '<td>' + data[i].price + '</td>';
                e += '<td><button onclick="orderAction(' + data[i].id + ')" type="button" class="btn btn-success">Order</button></td>';
            e += '</tr>'
            
            $('#tbody').append(e);
        }
        
        
    });
}

function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}

var refreshTableOrder = function(){
    var e = '';
    $.ajax({
        method: "GET",
        url: "{{ api_endpoint }}/orderByUser/{{ user_id }}.json"
        //data: { name: "John", location: "Boston" }
    })
    .done(function( data ) {
        var data = data.data;
        
        for(var i=0;i<data.length;i++) {
        
            var status = data[i].order_statuses;
        
            var statusTxt = '<ul>';
            for(var j=0;j<status.length;j++) {
                //if(typeof status[j].status === 'undefined') continue;
                
                var datetime = status[j].status_datetime.substring(0, 19);
                var formattedDate = new Date(datetime);
                var d = formattedDate.getDate();
                var m =  formattedDate.getMonth();
                m += 1;  // JavaScript months are 0-11
                var y = formattedDate.getFullYear();
                var h = formattedDate.getHours();
                var mi = formattedDate.getMinutes();
                
                statusTxt += '<li>' + status[j].status.description + ' : ' + d + '-' + m + '-' + y + ' ' + h + ':' + mi + '</li>';
            }
            statusTxt += '</ul>';
            
            var driver = '';
            if(typeof data[i].driver !== 'undefined') driver = data[i].driver.username;
        
            e += '<tr>';
                e += '<td>' + (i+1) + '</td>';
                e += '<td>' + data[i].item.name + '</td>';
                //e += '<td>' + data[i].item.price + '</td>';
                e += '<td>' + driver + '</td>';
                e += '<td>' + statusTxt + '</td>';
            e += '</tr>'
            
        }
        
        $('#tbodyOrder').html(e);
        
        sleep(500).then(() => {
            refreshTableOrder();
        });
        
    });
}

$(document).ready(function(){
    refreshTable();
    refreshTableOrder();
});
</script>
{% endblock %}

{% block username %}
{{ data.username }}
{% endblock %}
